<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duo Translate</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Duo Translate</h1>
    <form action="/ChineseToEnglish" method="post">
        <label for="user_input">Chinese &rarr; English</label><br>
        <input type="text" id="user_input" name="user_input" required><br><br>
        <input type="submit" value="Translate">
    </form>
    <form action="/EnglishToChinese" method="post">
        <label for="user_input">English &rarr; Chinese</label><br>
        <input type="text" id="user_input" name="user_input" required><br><br>
        <input type="submit" value="Translate">
    </form>
    <form action="/review" method="post">
        <label for="user_input">Review</label><br>
        <input type="text" id="user_input" name="user_input" required><br><br>
        <input type="submit" value="Review">
    </form>
</body>
</html>
