<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translate</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% if ChineseToEnglish %}
        <h1>Chinese to English</h1>
    {% else %}
        <h1>English to Chinese</h1>
    {% endif %}
    <div class="response-container">
        {% if not ChineseToEnglish %}
            <p><span class="attribute">English:</span> <span class="value">{{ chat_response.original }}</span></p>
        {% endif %}
        <p><span class="attribute">Characters:</span> <span class="value">{{ chat_response.characters }}</span></p>
        <p><span class="attribute">Pinyin:</span> <span class="value">{{ chat_response.pinyin }}</span></p>
        {% if ChineseToEnglish %}
            <p><span class="attribute">English definition:</span> <span class="value">{{ chat_response.English_definition }}</span></p>
        {% else %}
            {% if chat_response.synonyms %}
                <p><span class="attribute">Synonyms:</span> <span class="value">{{ chat_response.synonyms | join(', ') }}</span></p>
                <span class="subtitle">{{ chat_response.synonymPinyin | join(', ') }}</span></p>
                <span class="value">{{ chat_response.synonymTranslations | join(', ') }}</span></p>
            {% endif %}
        {% endif %}
        <p><span class="attribute">Ex:</span> <span class="value">{{ chat_response.exSentenceChinese }}</span></p>
        <span class="subtitle">{{ chat_response.sentencePinyin }}</span></p>
        <span class="value">{{ chat_response.translation }}</span></p>
    </div>
    <form action="/" method="get">
        <button type="submit">Back to Home</button>
    </form>
</body>
</html>
